<%= render 'reviews/link' %>

<div class="user-delete contents">

 <h3>退会確認</h3>

 <p>退会すると、今までの投稿物が全て削除され、復元はできません。<br>よろしいですか？</p>

 <div class="delete-link">
  <%= link_to 'はい', user_path(@user), method: :delete %>
  <%= link_to 'いいえ', user_path(@user) %>
 </div>

</div>